.FAQ{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-bottom: 50px;
  align-content: center;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-size: 5rem;
  font-weight: 900;
  color: white;
}
.faq-header{
  padding-top: 80px;
}

.faq-section-title{
  padding-top: 30px;
  font-size: 3rem;
  font-weight: 900;
}

.faq-section-answer{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2rem;
  font-weight: 500;
}