.commands{
  height: 100vh;
  font-family: 'Rokkitt', serif;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  background-color: #5f00e8;
}

.commands-header {
  display: flex;
  justify-content: center
}