.see-it {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100vw;
}

.see-it-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 4rem;
  background-image: url(./../../images/wave-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -480px;
}

.see-it-section-light {
  display: flex;
  flex-direction: row;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 4rem;
  background-image: url(./../../images/wave-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -480px;


}
.text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 2rem;
  border: 400px;
  color: white;
}

.header {
  font-size: 4rem;
  font-weight: 900;
}

.sub-header{
  font-weight: 900;
}
.closing {
  font-weight: 900;
}

.images {
  width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

