.see-it {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;

  padding-bottom: 50px;
}
.scrollbar-seeit{
  position: absolute;
  top: -80px;
}

.see-it-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 50px;
}
.see-it-section-light {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 50px;
}

.text {
  display: flex;
  width: 60rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 1.5rem;
  border: 400px;
  color: white;
}

.header {
  font-size: 4rem;
  font-weight: 900;
}

.sub-header{
  font-weight: 900;
}
.closing {
  font-weight: 900;
}

.images {
  padding-top: 80px;
  display: inherit;
  align-items: center;
  justify-content: center;

}

.individual-image{
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 19rem;
}
.individual-image-dark{
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 19rem;
}

@media screen and (max-width:960px){
  .see-it{
    flex-wrap: wrap;
    margin: 0;
    padding: none;
    padding-bottom: 5rem;    
  }
  .see-it-section {
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin: 0;
    align-items: center;
    justify-items: center;

  }
  .see-it-section-light {
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin: 0;
    align-items: center;
    justify-items: center;

  }
  .text{
    padding-top: 40px;
    justify-content: center;
    width:100%;
    align-content: center;
    font-size: 1.5rem;
    z-index: 1;

  }
  .header{
    font-size: 3rem;
    line-height: 45px;
    padding-bottom: 15px;
    z-index: 1;
  }
  .images{
    position: absolute;
    z-index: 0;    

    }

    .individual-image{
    width: 16rem;
    opacity: 70%;
    }
    .individual-image-dark{
      width: 16rem;
      opacity: 70%;
      }
}