.home {
  position: relative;
    display: flex;
    justify-content: space-around;
    font-family: 'Rokkitt', serif;
    width: 100vw;
    min-height: 100vh;
    font-weight: 900;
    font-size: 40rem;
    background-image: url(./../../images/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -20px;
    background-size: cover;
    padding-top: 80px;
  }

  .scrollbar-home{
    position: absolute;
    top: -80px;
  }




  .logo {
    display: grid;
    margin-top: 90px;
    margin-left: 100px;
  }

  .top-text {
    padding-left: 12rem;
    font-size: 6rem;
    color: white;
    line-height: 80px;
    text-align: center;
    margin-top: 3rem;
    font-weight: 900;
    margin-right: 50px;
  }
  
  .small-text {
    margin-top: 3rem;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
  }

  .button{
    margin-top: 3rem;
  }


  @media screen and (max-width:960px){
    .home{
      flex-wrap: wrap;
    }
    .logo{
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      opacity: 100%;
      
    }

    .top-text{
      margin: 0;
      padding: 10px;
      z-index:1;
      font-size: 4rem;
      line-height: 60px;
    }
    .small-text{
      margin-top: 1.5rem;
      font-size: 1.5rem;
      line-height: 30px;
    }
    .button{
      margin-top: 1.5rem;
    }
   }