.home {
    display: flex;
    justify-content: space-around;
    font-family: 'Rokkitt', serif;
    width: 100vw;
    height: calc(100vh - 80px);
    font-weight: 900;
    font-size: 40rem;
    background-image: url(./../../images/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -200px;
  }

  .logo {
    display: grid;
    margin-top: 90px;
    margin-left: 100px;
  }

  .top-text {
    padding-left: 12rem;
    font-size: 6rem;
    color: white;
    line-height: 80px;
    text-align: center;
    margin-top: 3rem;
    font-weight: 900;
  }
  
  .small-text {
    margin-top: 3rem;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
  }

  .button{
    margin-top: 3rem;
  }